@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  ul {
    @apply list-disc list-item ml-5;
  }
  ol {
    @apply ml-[35px] list-decimal;
  }
  code {
    @apply bg-neutral-500/50 p-2 rounded-lg;
  }
  h1 {
    @apply text-3xl break-normal mt-4;
  }
  h2 {
    @apply text-2xl text-neutral-500 dark:text-neutral-400 mt-4;
  }
  h3 {
    @apply text-xl text-neutral-500 dark:text-neutral-400 mt-4;
  }
  p {
    @apply mb-4;
  }
  a {
    @apply hover:font-iaWriterMonoBold hover:underline decoration-[3px];
  }
  main a {
    @apply underline;
  }
  u {
    @apply decoration-[3px] decoration-white/0;
  }
  b {
    @apply font-iaWriterMonoBold;
  }
  @font-face {
    font-family: "iA Writer Mono";
    src: url(../public/fonts/ia-writer-mono-latin-400-normal.woff2)
        format("woff2"),
      url(../public/fonts/ia-writer-mono-latin-400-normal.woff) format("woff"),
      url(../public/fonts/ia-writer-mono-latin-400-italic.woff2) format("woff2"),
      url(../public/fonts/ia-writer-mono-latin-400-italic.woff) format("woff");
  }
  @font-face {
    font-family: "iA Writer Mono Bold";
    src: url(../public/fonts/ia-writer-mono-latin-700-normal.woff2)
        format("woff2"),
      url(../public/fonts/ia-writer-mono-latin-700-normal.woff) format("woff"),
      url(../public/fonts/ia-writer-mono-latin-700-italic.woff2) format("woff2"),
      url(../public/fonts/ia-writer-mono-latin-700-italic.woff) format("woff");
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
